.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: start;
    justify-content: start;
    font-family: Verdana, sans-serif;
    padding: 15px;
    width: 270px;
    border-radius: 30px;
    min-height: 500px;
    color: #6F5E76;
}

.detail-container hr {
    width: 100%;
    border: 1 solid #6F5E76;
    margin-top: 10px;
}

.detail-container .cartScroll hr {
    width: 90%;
    border: 1 solid #6F5E76;
    margin-top: 10px;
}

.cartItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 0px;
    width: 100%;
}

.itemTitle {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    color: #6F5E76;
    width: 25%;
    margin: 0px;
}

.itemText {
    display: inline-block;
    width: 45%;
    font-size: 12px;
    font-weight: 100;
}

.cartScroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    overflow: scroll;
    max-height: 375px;
}

.cartFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.cartFooter p {
    margin: 0px;
    display: inline-block;
    font-size: 12px;
    text-align: end;

}

.cartFooter p span {
    display: inline-block;
    color: #6F5E76;
    font-size: 14px;
}
