.LineCategory {
    width: 310px;
    height: 60px;
    border: 2px solid #6f5e76;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: start;
    justify-content: start;
}

.botones {
    display: flex;
    flex-direction: row;
    direction: rtl;
    text-align: end;
    letter-spacing: 5px;
    gap: 5px;
}

.boton {
    width: 30px;
    height: 30px;
    font-family: Arial, sans-serif;
    color: #6f5676;
    border: 1px solid #efd6d2;
    border-radius: 50px;
    background-color: #efd6d2;
    text-align: center;
}

.botonizq {
    direction: ltr;
    text-align: start;
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
}