.CardClient {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    column-gap: 20px;
    font-family: Verdana, sans-serif;
    color: #6F5E76;
    border: 2px solid #EFD6D2;
    border-radius: 28px;
    width: 300px;
}

.ClientLogo {
    align-self: center;
    width: 24px;
    height: 24px;
    color: #FFDDE2;
    border-radius: 50%;
    background-color: #6f5e76;
    margin-left: 15px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.Data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: start;
    justify-content: start;
    width: 120px;
    padding-top: 5px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.Title {
    font-size: 12px;
    font-weight: 600;
    color: #6F5E76;
    margin: 0;
    width: 100%;
}

.InfoClient {
    line-height: 0px;
    font-size: 9px;
    color: #6F5E76;
    display: inline-block;
    flex-direction: row;
    align-items: start;
    justify-items: start;
    justify-content: center;
    align-content: center;
    direction: ltr;
    text-align: start;
}

.InfoClient p {
    display: inline-block;
    flex-direction: row;
    align-items: start;
}

.CardButtons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: 35%;
    margin-right: 15px;
}

.cardBtn {
    width: 30px;
    height: 30px;
    color: #6f5e76;
    border-radius: 50%;
    background-color: #EFD6D2;
    text-align: start;
    border: 1px solid #EFD6D2;
}

.cardBtn:hover {
    background-color: #6F5E76;
    color: #EFD6D2;
}

@media (max-width:400px) {
    .CardClient {
        width: 265px;
        margin-bottom: 10px;
    }

    .ClientLogo {
        display: none;
    }
}

@media (max-width:800px) {
    .CardClient {
        width: 265px;
    }
}
