.CardClient {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: start;
    column-gap: 20px;
    padding: 5px;
    width: 350px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    min-width: 250px;
    max-width: 395px;
    font-family: Verdana, sans-serif;
    color: #6F5E76;
    border: 2px solid #EFD6D2;
    border-radius: 28px;
}

.ClientLogo {
    align-self: start;
    margin-top: 20px;
    margin-left: 15px;
    padding: 5px;
    width: 24px;
    height: 24px;
    color: #FFDDE2;
    border-radius: 50%;
    background-color: #6f5e76;
}

.Data {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: end;
    align-content: start;
    justify-content: start;
    font-weight: 300;
    text-align: justify;
    height: 100px;
}

.Title {
    font-size: 14px;
    font-weight: 600;
    color: #6F5E76;
}

.InfoClient {
    line-height: 0px;
    margin-top: -25px;
    font-size: 11px;
    color: #050505;
}

.CardButtons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.cardBtn {
    width: 30px;
    height: 30px;
    color: #6f5e76;
    border-radius: 50%;
    background-color: #EFD6D2;
    text-align: start;
    border: 1px solid #EFD6D2;
}