.containerModal {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    align-content: start;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Verdana, sans-serif;
    color: #6F5E76;
    row-gap: 20px;
    align-self: center;
}

.clientForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    justify-content: space-evenly;
    row-gap: 30px;
    width: 100%;
    margin-bottom: 0px;
}

.formName {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-items: start;
    align-items: start;
    align-content: start;
    justify-content: start;
    width: 100%;
}

.formName input {
    width: 95%;
    border: 1px solid rgb(111, 94, 118);
    border-radius: 15px;
    height: 30px;
    padding-left: 8px;
    color: #6F5E76;
    font-size: 16px;
}

.formPhone {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.formPhone input {
    border: 1px solid rgb(111, 94, 118);
    border-radius: 15px;
    height: 30px;
    padding-left: 8px;
    color: #6F5E76;
    font-size: 16px;
}

.formBtns {
    align-self: end;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}

input:focus{
    outline: 1px solid #735380;
    margin-right:10px;
}

input.border-error {
    border-color: #E84C3D;
  }
  
input.border-error:focus {
    outline: 1px solid #E84C3D;
}

.btnReset {
    border: 1px solid #6F5E76;
    background-color: transparent;
    width: 100px;
    height: 38px;
    border-radius: 15px;
    cursor: pointer;
    color: #6F5E76;
}

.btnReset:hover {
    background-color: #6F5E76;
    color: #EFD6D2;
}

.btnSubmit {
    border: 1px solid #6F5E76;
    background-color: #6F5E76;
    color: #EFD6D2;
    width: 100px;
    height: 38px;
    border-radius: 15px;
    cursor: pointer;
}

.btnSubmit:hover {
    color: #6F5E76;
    background-color: #EFD6D2;
}

.error-message {
    color: #E84C3D;
    animation-name: errorAnimation;
    animation-duration: 0.5s;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    animation-timing-function: ease-in-out;
  }
  