.newItem {
    border-radius: 28px;
    font-family: Verdana, sans-serif;
    border: 2px dashed #6F5E76;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #6F5E76;
    padding: 5px;
    column-gap: 20px;
    max-width: 395px;
    height: 146px;
    min-height: 146px;
    max-height: 146px;
    width: 266px;
    cursor: pointer;
}

.newIcon {
    width: 40px;
    height: 40px;
}

@media (max-width:400px){
    .newItem{
        margin-top: 20px;
        margin-bottom: 10px;
        width: 220px;
    }
    .newIcon{
        width: 30px;
        height: 30px;
    }
}
